# Ignore everything
*

# But descend into directories

# Recursively allow files under subtree
!/commonjs/**
!/dist/**
!/es/**
!/types/**
!/src/**
!package.json
!.npmignore
!README.md
!LICENSE.md
!CHANGELOG.md
