kk-plugin-overlay {
  --kk-primary-color: #0a68f5;
  --kk-secondary-color: #84b3fa;
  --kk-highlight-color: var(--kk-secondary-color);

  position: fixed;
  pointer-events: none;
  touch-action: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

kk-plugin-element {
  position: fixed;
  border: 2px dashed var(--kk-highlight-color);
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--kk-highlight-color);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxyZWN0IHdpZHRoPSIzLjA0NTk0IiBoZWlnaHQ9IjUuMjIxNjkiIHRyYW5zZm9ybT0ibWF0cml4KC0wLjcwNzEwOCAwLjcwNzEwNiAtMC43MDcxMDggLTAuNzA3MTA2IDE5Ljg0NjIgMy44NjUxMSkiIGZpbGw9IndoaXRlIi8+CiAgICA8cmVjdCB4PSIxNi40NjE0IiB5PSI3LjI1IiB3aWR0aD0iMTQuMzU5NSIgaGVpZ2h0PSI1LjIyMTY5IiB0cmFuc2Zvcm09InJvdGF0ZSgxMzUgMTYuNDYxNCA3LjI1KSIgZmlsbD0id2hpdGUiLz4KICAgIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC4xNTM4MDkgMTkuODY1M0w1LjA3Njg5IDE4LjYzNDZMMS4zODQ1OCAxNC45NDIzTDAuMTUzODA5IDE5Ljg2NTNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K);
  }

  &.selected {
    --kk-highlight-color: var(--kk-primary-color);
  }
}
